[submodule "app/src/main/cpp/SystemAbstraction/Application/libs/library_opengles_2"]
	path = app/src/main/cpp/SystemAbstraction/Application/libs/library_opengles_2
	url = https://github.com/rafal-tarnow/library_opengles_2.git
